// html
$html: (
    'font-size':   62.5%,
    'text-adjust': 100%,
);
// Body
$body: (
    'width':     100%,
    'height':    100%,
    'margin':     0,
    'padding':    0,
    'background': #fff,
);
// Headings
$headings: (
    'font-family':          ''Open Sans', sans-serif',
    'font-weight':          700,
    'line-height':          1.45em,
    'color':                #4a4a4a,
    'letter-spacing':       -0.04em,
    'high-headings-margin': 2em 0 1em 0,
    'low-headings-margin':  1em 0 0.5em 0,
);
// Table
$table: (
    'width':             100%,
    'border-spacing':    0,
    'th-padding-bottom': 0.5em,
    'th-border-bottom':  2px solid lighten(#dce4f1, 2),
    'td-border-bottom':  1px solid lighten(#dce4f1, 2),
    'td-padding':        10px 0,
);
// hr
$hr-border: 1px solid #eef2f8;
// Description
$dl-dd-margin-left: 0;
// Code
$code: (
    'font-family':   'Open Sans',
    'font-weight':   400,
    'border-radius': 3px,
    'border':        1px solid #dce4f1,
    'background':    #fafbfc,
    'padding':       0 10px,
);

// Acronym & abbr
$acronym-border-bottom: 1px dotted $font-color-base;

// Blockquote
$blockquote: (
    'border-left':   2px solid darken(#dce4f1, 3),
    'padding':       10px 20px,
    'citie-content': ' — ',
    'citie-padding': 0 0.3em,
);
// Paragraph, list and description
$p-ul-ol-dl-margin: 0 0 1.75em 0;

html {
    font-family:                 $font-family-base;
    font-size:                   map-get($html, font-size);
    @include                     prefix(text-size-adjust, map-get($html, text-adjust), 'ms' 'webkit');
    -ms-text-size-adjust:        100%;
    -webkit-text-size-adjust:    100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
body
{
    width:                  map-get($body, width);
    height:                 map-get($body, height);
    margin:                 map-get($body, margin);
    padding:                map-get($body, padding);
    background:             map-get($body, background);
    font-family:            $font-family-base;
    font-size:              $font-size-base;
    line-height:            $line-height-base;
    letter-spacing:         $letter-spacing-base;
    text-rendering:         geometricPrecision;
    -webkit-font-smoothing: subpixel-antialiased;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    letter-spacing: map-get($headings, letter-spacing);
    font-family:    map-get($headings, font-family);
    font-weight:    map-get($headings, font-weight);
    line-height:    map-get($headings, line-height);
    color:          map-get($headings, color);
}
h1,
h2,
h3 {
    margin: map-get($headings, high-headings-margin);
}
h4,
h5,
h6 {
    margin: map-get($headings, low-headings-margin);
}
h1 {
    font-size: $h1-font-size;
}
h2 {
    font-size: $h2-font-size;
}
h3 {
    font-size: $h3-font-size;
}
h4 {
    font-size: $h4-font-size;
}
h5 {
    font-size: $h5-font-size;
}
h6 {
    font-size: $h6-font-size;
}
p,
ul,
ol,
dl {
    margin: $p-ul-ol-dl-margin;
}
a {
    &,
    &:hover,
    &:active,
    &:visited {
        cursor:          pointer;
        color:           $font-color-link;
        text-decoration: none;
    }
    &:hover {
        color:           $font-color-link;
        text-decoration: underline;
    }
}
table {
    width:           map-get($table, width);
    border-collapse: collapse;
    border-spacing:  map-get($table, border-spacing);
    text-align:      left;

    th {
        font-weight:    bold;
        padding-bottom: map-get($table, th-padding-bottom);
        border-bottom:  map-get($table, th-border);
    }
    td {
        border-bottom: map-get($table, td-border-bottom);
        padding:       map-get($table, td-padding);
    }
}
hr {
    border: $hr-border;
}
dl {
    dt {
        font-weight: bold;
    }
    dd {
        margin-left: $dl-dd-margin-left;
    }

}
code {
    display:       inline-block;
    font-family:   map-get($code, font-family);
    font-weight:   map-get($code, font-weight);
    border-radius: map-get($code, border-radius);;
    border:        map-get($code, border);
    background:    map-get($code, background);
    padding:       map-get($code, padding);
}
acronym,
abbr {
    border-bottom: $acronym-border-bottom;
}
blockquote {
    border-left: map-get($blockquote, border-left);
    padding:     map-get($blockquote, padding);

    cite {
        &:before {
            content: map-get($blockquote, content);
            padding: map-get($blockquote, padding);
        }

    }
}
// Mobiles
@media #{$small-and-down} {
    body {
        font-size: $font-size-base - 0.1rem;
    }
    h1 {
        font-size: $h1-font-size - 0.3rem;
    }
    h2 {
        font-size: $h2-font-size - 0.2rem;
    }
    h3 {
        font-size: $h3-font-size - 0.2rem;
    }
    h4 {
        font-size: $h4-font-size - 0.2rem;
    }
    h5 {
        font-size: $h5-font-size - 0.2rem;
    }
    h6 {
        font-size: $h6-font-size - 0.2rem;
    }
}
// Tablets
@media #{$medium-only} {
    body {
        font-size: $font-size-base - 0.05rem;
    }
    h1 {
        font-size: $h1-font-size - 0.15rem;
    }
    h2 {
        font-size: $h2-font-size - 0.15rem;
    }
    h3 {
        font-size: $h3-font-size - 0.15rem;
    }
    h4 {
        font-size: $h4-font-size - 0.15rem;
    }
    h5 {
        font-size: $h5-font-size - 0.15rem;
    }
    h6 {
        font-size: $h6-font-size - 0.15rem;
    }
}
    