// Mobiles
// --------------------
@media #{$small-and-down} {
    #header {
        display:    block;
        width:      100%;
        height:     55px;
        background: #111a23;
        position:   relative;

        #btn-open-sidebar {
            position: absolute;
            top:      20px;
            left:     20px;
            color:    #88909a;
            cursor:   pointer;
        }
        .header-logo {
            display:       block;
            width:         30px;
            height:        30px;
            position:      relative;
            top:           12.5px;
            border-radius: 15px;
            margin:        0px auto;
        }
        .header-title {
            line-height: 55px;
            margin:      0px 0px 0px 0px;
            color:       #88909a;
        }
    }
}

// Tablets
// --------------------
@media #{$medium-only} {
    #header {
        display: none;
    }
}

// Desktops
// --------------------
@media #{$large-and-up} {
    #header {
        display: none;
    }
}