// All
// --------------------
.main {
    display:    block;
    height:     auto;
    padding:    20px;
}

// Mobiles
// --------------------
@media #{$small-and-down} {
    .main {
        display: block;
        width:   calc(100% - 40px);
    }
}

// Tablets
// --------------------
@media #{$medium-only} {
    .main {
        float: right;
        width: calc(100% - (#{$tablet-sidebar-width} + 40px));
    }
}

// Desktops
// --------------------
@media #{$large-and-up} {
    .main {
        float: right;
        width: calc(100% - (#{$desktop-sidebar-width} + 40px));

    }
}