// All
// --------------------
#main {
    display: block;
    height:  auto;
    padding: 20px;

    #main-content {
        width:         calc(100% - 40px);
        max-width:     $main-content-width;
        margin:        0 auto;
        background:    rgba(255, 255, 255, 0.96);
        padding :      20px;
        border-radius: 3px;
    }
}

// Mobiles
// --------------------
@media #{$small-and-down} {
    #main {
        display: block;
        width:   calc(100% - 40px);
    }
}

// Tablets
// --------------------
@media #{$medium-only} {
    #main {
        float: right;
        width: calc(100% - (#{$sidebar-tablet-width} + 40px));
    }
}

// Desktops
// --------------------
@media #{$large-and-up} {
    #main {
        float: right;
        width: calc(100% - (#{$sidebar-desktop-width} + 40px));
    }
}