// All
// --------------------
.posts {
    .post {
        padding:       10px;
        margin-bottom: 30px;

        .post-thumbimg {
            border-radius: 3px;
            width:         $image-thumb-width;
            height:        $image-thumb-width !important;
            overflow:      hidden;
            margin-right:  15px;

            img {
                width:  100%;
                height: 100%;
            }
        }
        .post-info {
            display:        inline-block;
            vertical-align: top;

            .post-title {
                color:         #233152;
                font-size:     $font-size-h2;
                margin-top:    0px;
                margin-bottom: 8px;
                font-weight:   700;
            }
            .post-date {
                color:   #b1bdcc;
                display: inline-block;
            }
            .post-readingtime {
                color:         #b1bdcc;
                display:       inline-block;
                margin-bottom: 15px
            }
            .post-snippet {
                color:         #7f8994;
                margin-bottom: 10px;
            }
            .post-tags {
                display:       block;
                margin-bottom: 0px;
            }
        }
    }
}

// Mobiles
// --------------------
@media #{$small-and-down} {
    .posts {
        .post {
            .post-thumbimg {
                display: none;

                img {
                    display: none;
                }
            }
            .post-info {
                width: 100%;
            }
        }
    }
}

// Tablets & desktops
// --------------------
@media #{$medium-and-up} {
    .posts {
        .post {
            .post-thumbimg {
                display: inline-block;

                img {
                    width:  100%;
                    height: 100%;
                }
            }
            .post-info {
                width: calc(100% - #{$image-thumb-width} - 20px);
            }
        }
    }
}