
// Mobiles
@media #{$small-and-down} {
    .sidebar {
        display:    none;
        width:      $desktop-sidebar-width;
        height:     100%;
        position:   fixed;
        top:        0px;
        background: #111a23;
        z-index:    9;

        ul.sidebar-menu, ul.sidebar-profile {
            padding-left:  0px;
            padding-top:   0px;
            margin-top:    0px;
            margin-bottom: 50px;

            li {
                display:     block;
                width:       100%;
                height:      45px;
                line-height: 45px;
                text-align:  left;

                a {
                    color:        #88909a;
                    text-align:   left;
                    display:      block;
                    width:        auto;
                    height:       100%;
                    padding-left: 23px;
                    padding-top:  0px;

                    .fa, .profile-picture {
                        display:        inline-block;
                        text-align:     center;
                        width:          30px;
                        height:         30px;
                        line-height:    30px;
                        margin-right:   15px;
                        padding-top:    0px;
                        vertical-align: middle;
                    }
                    .desc {
                        display:        inline-block;
                        width:          auto;
                        height:         35px;
                        line-height:    35px;
                        font-size:      13.3px;
                        letter-spacing: 0.3px;
                        vertical-align: middle;
                    }
                }
                .profile-picture {
                    border-radius: 3px;
                }
            }
        }
    }
}

// Tablets
@media #{$medium-only} {
    .sidebar {
        width:      $tablet-sidebar-width;
        height:     100%;
        position:   fixed;
        top:        0px;
        background: #111a23;

        ul.sidebar-menu, ul.sidebar-profile {
            padding-left:  0px;
            padding-top:   0px;
            margin-top:    0px;
            margin-bottom: 50px;

            li {
                display:     block;
                width:       100%;
                height:      45px;
                line-height: 45px;
                text-align:  center;

                a {
                    color:      #88909a;
                    text-align: center;
                    display:    block;
                    width:      100%;
                    height:     100%;

                    .fa, .profile-picture {
                        display:        inline-block;
                        text-align:     center;
                        width:          30px;
                        height:         30px;
                        line-height:    30px;
                        margin-right:   auto;
                        margin-left:    auto;
                        padding-top:    0px;
                        vertical-align: middle;
                    }
                }
                .profile-picture {
                    border-radius: 3px;
                }
            }
        }
    }
}

// Desktops
@media #{$large-and-up} {
    .sidebar {
        width:      $desktop-sidebar-width;
        height:     100%;
        position:   fixed;
        top:        0px;
        background: #111a23;

        ul.sidebar-menu, ul.sidebar-profile {
            padding-left:  0px;
            padding-top:   0px;
            margin-top:    0px;
            margin-bottom: 50px;

            li {
                display: block;
                width:       100%;
                height:      45px;
                line-height: 45px;
                text-align:  left;

                a {
                    color:        #88909a;
                    text-align:   left;
                    display:      block;
                    width:        auto;
                    height:       100%;
                    padding-left: 23px;
                    padding-top:  0px;

                    .fa, .profile-picture {
                        display:        inline-block;
                        text-align:     center;
                        width:          30px;
                        height:         30px;
                        line-height:    30px;
                        margin-right:   15px;
                        padding-top:    0px;
                        vertical-align: middle;
                    }
                    .desc {
                        display:        inline-block;
                        width:          auto;
                        height:         35px;
                        line-height:    35px;
                        font-size:      13.3px;
                        letter-spacing: 0.3px;
                        vertical-align: middle;
                        @include box-shadow(0, 1px, 1px, rgba(0, 0, 0, 0.075), inset)
                    }
                }
                .profile-picture {
                     border-radius: 3px;
                }
            }
        }
    }
}