// All
// --------------------
#sidebar {
    height:     100%;
    position:   fixed;
    top:        0px;
    background: $sidebar-bg-color;
    overflow:   scroll;
    z-index:    9;

    ul {
        padding-left:  0px;
        padding-top:   0px;
        margin-top:    0px;
        margin-bottom: 20px;

        li {
            display:     block;
            width:       100%;
            height:      45px;
            line-height: 45px;

            a {
                color:   $sidebar-font-color;
                display: block;
                height:  100%;

            }
            a:hover,
            a:active {
                color: lighten($sidebar-font-color, 35);
            }
        }
    }
    ul.sidebar-profile {
        li {
            color:       $sidebar-font-color;
            text-align:  center;
            padding-top: 18px;

            .profile-picture {
                display: block;
                margin:  0 auto;
            }
        }
    }
}

// Mobiles
// --------------------
@media #{$small-and-down} {
    #sidebar {
        display: none;
        width:   $sidebar-desktop-width;

        ul {
            li {
                text-align: left;

                a {
                    text-align:   left;
                    width:        auto;
                    padding-left: 23px;
                    padding-top:  0px;

                    .fa {
                        display:        inline-block;
                        text-align:     center;
                        width:          30px;
                        height:         30px;
                        line-height:    30px;
                        padding-top:    0px;
                        vertical-align: middle;
                        margin-right:   15px;
                    }
                    .desc {
                        display:        inline-block;
                        width:          auto;
                        height:         35px;
                        line-height:    35px;
                        font-size:      13.3px;
                        letter-spacing: 0.3px;
                        vertical-align: middle;
                    }
                }
            }
        }
        ul.sidebar-profile {
            padding-top: 25px;

            li {
                height:         130px;
                padding-top:    15px;
                padding-bottom: 7.5px;

                .profile-picture {
                    width:         90px;
                    height:        90px;
                    border-radius: 90px;
                }
            }
        }
    }
}

// Tablets
// --------------------
@media #{$medium-only} {
    #sidebar {
        width: $sidebar-tablet-width;

        ul {
            li {
                text-align: center;

                a {
                    text-align: center;
                    width:      100%;

                    .fa {
                        display:        inline-block;
                        text-align:     center;
                        width:          30px;
                        height:         30px;
                        line-height:    30px;
                        padding-top:    0px;
                        vertical-align: middle;
                    }
                }

            }
        }
        ul.sidebar-profile {
            .profile-picture {
                width:          30px;
                height:         30px;
                line-height:    30px;
                vertical-align: middle;
                border-radius: 30px;
            }
        }
    }
}

// Desktops
// --------------------
@media #{$large-and-up} {
    #sidebar {
        width: $sidebar-desktop-width;

        ul {
            li {
                text-align: left;

                a {
                    text-align:   left;
                    width:        auto;
                    padding-left: 23px;
                    padding-top:  0px;

                    .fa {
                        display:        inline-block;
                        text-align:     center;
                        width:          30px;
                        height:         30px;
                        line-height:    30px;
                        padding-top:    0px;
                        vertical-align: middle;
                        margin-right:   15px;
                    }
                    .desc {
                        display:        inline-block;
                        width:          auto;
                        height:         35px;
                        line-height:    35px;
                        font-size:      13.3px;
                        letter-spacing: 0.3px;
                        vertical-align: middle;
                    }
                }
            }
        }
        ul.sidebar-profile {
            padding-top: 25px;

            li {
                height:         130px;
                padding-top:    15px;
                padding-bottom: 7.5px;

                .profile-picture {
                    width:         90px;
                    height:        90px;
                    border-radius: 90px;
                }
            }
        }
    }
}