// All
// --------------------
.socialshare {
    height:     auto;
    list-style: none;
    padding:    0px;
    margin:     30px auto 0px auto;

    ul.share-buttons {
        padding-left: 0px;

        & li {
            display:     inline-block;
            width:       calc((100% / 3) - 13px);
            height:      auto;
            text-align:  center;
            margin-left: 0px;

            a {
                display:       block;
                width:         100%;
                padding-left:  0px;
                padding-right: 0px;
            }
        }
    }
}

// Mobiles
// --------------------
@media #{$small-and-down} {
    .socialshare {
        width: 100%;

        ul.share-buttons {
            & li {
                display: inline-block;
                width:   calc((100% / 3) - 13px);
            }
            & li:nth-child(n + 2) {
                margin-left: 15px;
            }
        }
    }
}

// Tablets & desktops
// --------------------
@media #{$medium-and-up} {
    .socialshare {
        width: $socialshare-width;

        ul.share-buttons {
            & li {
                display: inline-block;
                width:   calc((100% / 3) - 23px);

                a {
                    i {
                        margin-right: 15px;
                    }
                }
            }
            & li:nth-child(n + 2) {
                margin-left: 30px;
            }
        }
    }
}
