<% if ((typeof categories !== 'undefined') && (categories.length > 0) && (typeof style !== 'undefined')) { %>
    <% categories.each(function(item) { %>
        <a class="category <%= 'category--' + style %>" href="<%- url_for(item.path) %>"><%= item.name %></a>
    <% }); %>
<% } %>