<%
    // Generate cover image url
    var coverImageUrl;

    if (post.coverImage) {
        if ((post.coverImage.indexOf(config.url) < 0) && (post.coverImage.indexOf('://') >= 0)) {
            coverImageUrl = post.coverImage;
        }
        else {
            coverImageUrl = url_for(post.path.replace('.html', '/') + post.coverImage);
        }
%>
    <div class="post-header-cover" style="background-image:url('<%= coverImageUrl %>');" data-behavior="<%= theme.sidebar_behavior %>">
        <%- partial('header') %>
    </div>
<% } %>