<div class="post-meta">
    <time  itemprop="datePublished" content="<%= post.date %>">
        <%= post.date.format('MMM DD, YYYY') %>
    </time>
    <% if ((post.categories) && (post.categories.length > 0)) { %>
        <span>in </span>
        <%- partial('category', {categories: post.categories})%>
    <% } %>
</div>