<% if (post.prev || post.next){ %>
    <nav class="post-nav box">
        <li>
            <% if (post.prev){ %>
                <a class="link" href="<%= url_for(post.prev.path) %>">
                    <%= '← ' + post.prev.title %>
                </a>
            <% } %>
        </li>
        <li>
            <% if (post.next){ %>
                <a class="link" href="<%- url_for(post.next.path) %>">
                    <%= post.next.title + ' →' %>
                </a>
            <% } %>
        </li>
    </nav>
<% } %>