<% if ((typeof tags !== 'undefined') && (tags.length > 0)) { %>
    <div class="post-tags">
        <div>
            <span class="text-small text-color-light">Tagged in</span>
        </div>
        <% tags.limit(15).each(function(item) { %>
            <a class="tag" href="<%- url_for(item.path) %>"><%= item.name %></a>
        <% }); %>
        <p></p>
    </div>
<% } %>