#cover {
    position:          fixed;
    width:             100%;
    height:            100%;
    background-color : #252628;
    background-repeat: repeat;
    top:               0;
    left:              0;
    // position the cover below the whole blog
    z-index:           map-get($z-indexes, l-cover);
}