#cover {
    position:          fixed;
    width:             100%;
    height:            100%;
    background-repeat: no-repeat;
    background-size:   cover;
    top:               0px;
    left:              0px;
    z-index:           -1;
}