#footer {
    color:      map-get($colors, text);
    font-size:  map-get($font-size, small);
    text-align: center;
    margin-top: 70px;
    margin-bottom: 10px;

    .beian{
    	color: map-get($colors, text);
    	&:hover{
    		text-decoration: none;
    		color: map-get($colors, link);
    	}
    }
}