#main {
    display:            block;
    min-height:         100%;
    background:         #fff;
    transition:         transform .25s ease-in-out;
    -webkit-transition: -webkit-transform .25s ease-in-out;

    // Swipe the `main` div when the sidebar is opened
    &.pushed {
        @include prefix(transform, translate3d(#{map-get($sidebar, lg-screen-width)}, 0, 0), 'webkit' 'moz');
    }
}

// Change width of `#main` to full size on small screen and down
@media #{$small-and-down} {
    #main {
        padding-top: map-get($header, height) + map-get($main, padding-top);
        display:     block;
        width:       100%;
    }
}

// Change width of `#main` to full size minus `$sidebar-md-width` on medium screen only
@media #{$medium-only} {
    #main {
        padding-top: map-get($main, padding-top);
        float:       right;
        width:       calc(100% - #{map-get($sidebar, md-screen-width)});
    }
}

// Change width of `#main` to full size minus `$sidebar-lg-width` on large screen and up
@media #{$large-and-up} {
    #main {
        padding-top: map-get($main, padding-top);
        float:       right;
        width:       calc(100% - #{map-get($sidebar, lg-screen-width)});
    }
}