// All
// --------------------
#main {
    display:    block;
    min-height: 100%;
    background: #fff;

    #main-content {
        width:     calc(100% - 40px);
        max-width: $main-content-width;
        margin:    0 auto;
        padding:   20px;
    }
}

// Mobiles
// --------------------
@media #{$small-and-down} {
    #main {
        display: block;
        width:   calc(100%);
    }
}

// Tablets
// --------------------
@media #{$medium-only} {
    #main {
        float: right;
        width: calc(100% - #{$sidebar-tablet-width});
    }
}

// Desktops
// --------------------
@media #{$large-and-up} {
    #main {
        float: right;
        width: calc(100% - #{$sidebar-desktop-width});
    }
}