// Global CSS rules for all screen size
#sidebar {
    height:             100%;
    position:           fixed;
    top:                0;
    background:         map-get($sidebar, background);
    overflow:           scroll;
    z-index:            map-get($z-indexes, l-sidebar);
    // Sidebar animation
    // Transition style (push)
    transition:         transform .25s ease-in-out;
    -webkit-transition: -webkit-transform .25s ease-in-out;

    // Author information
    .sidebar-profile {
        color:         map-get($sidebar, color);
        padding-top:   18px;

        .sidebar-profile-picture {
            display: block;
            margin-left: 30px;
        }
    }
    // Sidebar's buttons
    ul.sidebar-buttons {
        padding: 0;
        margin:  0 0 10px 0;

        li.sidebar-button {
            display:     block;
            width:       100%;
            // Height of a link in the menu
            height:      30px;
            line-height: 30px;

            .sidebar-button-link {
                color:   map-get($sidebar, color);
                display: inline-block;
                height:  100%;

                &:hover,
                &:active {
                    text-decoration: none;
                    color: map-get($colors, link);
                }
            }
        }
        &:first-child {
            margin-top: 5px;
        }
    }
    
    div.links{
        padding-left: 30px;
        color: #fff;
        font-size:      map-get($font-size, small);
        .list{
            margin: 0;
            padding: 0;
            >li{
                list-style: none;
                >a{
                    color: #666;
                    &:hover,
                    &:active {
                        text-decoration: none;
                        color: map-get($colors, link);
                    }
                }
            }
        }
    }

    // Used to animate the sidebar (pushed effect)
    &.pushed {
        @include prefix(transform, translate3d(#{map-get($sidebar, lg-screen-width)}, 0, 0), 'webkit' 'moz');
    }
}

// On `$small-and-down` (small screen): It hide by default the sidebar
// and with javascript located in `source/_js/_sidebar.js`, it will animate the swipe of the sidebar
@media #{$small-and-down} {
    #sidebar {
        left: -#{map-get($sidebar, lg-screen-width)};
    }
}

// The sidebar on small and large screen is the same but it will be hided by default on small screen
@media #{$large-and-up}, #{$small-and-down} {
    #sidebar {
        width: map-get($sidebar, lg-screen-width);

        // Author information
        .sidebar-profile {
            padding-top:    40px;
            padding-bottom: 7.5px;

            .sidebar-profile-name {
                font-size: 3rem;
                margin-top: 20px;
                display: block;
                padding-left: 30px;
            }

            .sidebar-profile-subtitle {
                display: block;
                font-size: 2rem;
                color: #666;  
                padding-top: 5px;
                padding-left: 30px;
            }

            .sidebar-profile-picture {
                width:         160px;
                height:        160px;
                border-radius: 160px;
                margin-bottom: 5px;
            }
        }
        // Buttons
        ul.sidebar-buttons {
            li.sidebar-button {
                text-align: left;

                .sidebar-button-link {
                    text-align:   left;
                    width:        auto;
                    padding-left: 30px;
                    padding-top:  0;

                    // Font-awesome icon
                    .sidebar-button-icon {
                        display:        none;
                        text-align:     center;
                        width:          30px;
                        height:         30px;
                        line-height:    30px;
                        padding-top:    0;
                        vertical-align: middle;
                        margin-right:   15px;
                    }
                    // Description (name) of a link
                    .sidebar-button-desc {
                        display:        inline-block;
                        width:          auto;
                        height:         35px;
                        line-height:    35px;
                        font-size:      map-get($font-size, small);
                        letter-spacing: 0.3px;
                        vertical-align: middle;
                    }
                }
            }
        }

        //Icons 
        ul.sidebar-icons{
            overflow: hidden;
            padding: 20px 30px;
            margin: 0;
            li.sidebar-icon{
                float: left;
                list-style: none;
                >a{
                    width: 40px;
                    height: 40px;
                    background-color: #666;
                    display: inline-block;
                    text-align: center;
                    font-size: 20px;
                    line-height: 40px;
                    border-radius: 50%;
                    margin-right: 15px;
                    color: #EFEFEF;
                    text-shadow: 0 1px #333;
                    text-decoration: none;
                    &:hover{
                        color: #4183c4;
                    }
                    &.fa-envelope-o{
                        font-size: 18px;
                    }
                }
            }
        }
        div.sidebar-description{
            font-size: 1.4rem;
            color: #666;
            line-height: 28px;
            padding: 0 30px;
        }
    }
}

@media #{$small-and-down} {
    #sidebar {

        // Author information
        .sidebar-profile {

            .sidebar-profile-picture {
                width:         100px;
                height:        100px;
                border-radius: 100px;
                margin: 0 auto;
            }

            .sidebar-profile-name{
                font-size: 2rem;
                text-align: center;
                padding: 0;
            }
            .sidebar-profile-subtitle{
                display: none;
            }
        }
    }
}

//Display the sidebar in medium mode on medium scren
@media #{$medium-only} {
    #sidebar {
        width: map-get($sidebar, md-screen-width);

        // Author information
        .sidebar-profile {
            .sidebar-profile-picture {
                width:          30px;
                height:         30px;
                line-height:    30px;
                vertical-align: middle;
                border-radius:  30px;
                margin: 0 auto;
            }
        }
        // Buttons
        ul.sidebar-buttons {
            margin: 20px 0;
            li.sidebar-button {
                text-align: center;
                margin: 20px 0;

                .sidebar-button-link {
                    text-align: center;
                    width:      100%;

                    .sidebar-button-icon {
                        display:        inline-block;
                        text-align:     center;
                        width:          30px;
                        height:         30px;
                        line-height:    30px;
                        padding-top:    0;
                        vertical-align: middle;
                    }
                    .sidebar-button-desc{
                        display: none;
                    }
                    .sidebar-button-icon{
                        display: block;
                        margin: 0 auto;
                    }
                }
            }
        }
        ul.sidebar-icons{
            padding: 0;
            margin: 40px 0;
            .sidebar-icon{
                text-align: center;
                list-style: none;
                margin: 15px 0;
                >a{
                    text-align: center;
                    width: 30px;
                    height: 30px;
                    line-height: 30px;
                    padding-top: 0;
                    vertical-align: middle;
                    color: #fff;
                    font-size: 1.333em;
                    text-decoration: none;
                    &:hover{
                        color: #4183c4;
                    }
                }
            }
        }
        div.sidebar-description,
        div.links{
            display: none;
        }
    }
}