// Global CSS rules for all screen size
#sidebar {
    font-family: 'Open Sans', sans-serif;
    height:      100%;
    position:    fixed;
    top:         0;
    background:  map-get($sidebar, background);
    overflow:    scroll;
    z-index:     map-get($z-indexes, l-sidebar);

    .sidebar-profile-wrap,
    .sidebar-button-group {
        padding-left:  0;
        padding-top:   0;
        margin-top:    0;
        margin-bottom: 20px;

        .sidebar-profile,
        .sidebar-button {
            display:     block;
            width:       100%;
            height:      45px; // Height of a link in the menu
            line-height: 45px;

            .sidebar-button-link {
                color:   map-get($header, color);
                display: block;
                height:  100%;

                &:hover,
                &:active {
                    text-decoration: none;
                    color: lighten(map-get($header, color), 35);
                }
            }
        }
    }
    // Author information
    .sidebar-profile-wrap {
        .sidebar-profile {
            color:       map-get($header, color);
            text-align:  center;
            padding-top: 18px;

            .sidebar-profile-picture {
                display: block;
                margin:  0 auto;
            }
        }
    }
}
// On `$small-and-down` (small screen): It hide by default the sidebar
// and with javascript located in `source/_js/_sidebar.js`, it will animate the swipe of the sidebar
@media #{$small-and-down} {
    #sidebar {
        display: none;
    }
}
// The sidebar on small and large screen is the same but it will be hided by default on small screen
@media #{$large-and-up}, #{$small-and-down} {
    #sidebar {
        width: map-get($sidebar, lg-screen-width);

        .sidebar-button-group {
            .sidebar-button {
                text-align: left;

                .sidebar-button-link {
                    text-align:   left;
                    width:        auto;
                    padding-left: 23px;
                    padding-top:  0;

                    // Font-awesome icon
                    .sidebar-button-icon {
                        display:        inline-block;
                        text-align:     center;
                        width:          30px;
                        height:         30px;
                        line-height:    30px;
                        padding-top:    0;
                        vertical-align: middle;
                        margin-right:   15px;
                    }
                    // Description (name) of a link
                    .sidebar-button-desc {
                        display:        inline-block;
                        width:          auto;
                        height:         35px;
                        line-height:    35px;
                        font-size:      13.3px;
                        letter-spacing: 0.3px;
                        vertical-align: middle;
                    }
                }
            }
        }
        // Author information
        .sidebar-profile-wrap {
            padding-top: 25px;

            .sidebar-profile {
                height:         130px;
                padding-top:    15px;
                padding-bottom: 7.5px;

                .sidebar-profile-picture {
                    width:         90px;
                    height:        90px;
                    border-radius: 90px;
                }
            }
        }
    }
}
// Display the sidebar in medium mode on medium scren
@media #{$medium-only} {
    #sidebar {
        width: map-get($sidebar, md-screen-width);

        .sidebar-button-group {
            .sidebar-button {
                text-align: center;

                .sidebar-button-link {
                    text-align: center;
                    width:      100%;

                    // Font-awesome icon
                    .sidebar-button-icon {
                        display:        inline-block;
                        text-align:     center;
                        width:          30px;
                        height:         30px;
                        line-height:    30px;
                        padding-top:    0;
                        vertical-align: middle;
                    }
                }

            }
        }
        // Author information
        .sidebar-profile-wrap {
            .sidebar-profile-picture {
                width:          30px;
                height:         30px;
                line-height:    30px;
                vertical-align: middle;
                border-radius:  30px;
            }
        }
    }
}