<div class="social-share">
    <ul class="share-buttons">
        <li>
            <a class="btn btn--facebook" href="<%- 'https://www.facebook.com/sharer/sharer.php?u=' + post.permalink %>"><i class="fa fa-facebook"></i><span class="hide-sm">Share</span></a>
        </li>
        <li>
            <a class="btn btn--twitter" href="<%- 'https://twitter.com/intent/tweet?text=' + post.title + ' - ' + post.permalink %>"><i class="fa fa-twitter"></i><span class="hide-sm">Tweet</span></a>
        </li>
        <li>
            <a class="btn btn--googleplus" href="<%- 'https://plus.google.com/share?url=' + post.permalink %>"><i class="fa fa-google-plus"></i><span class="hide-sm">+1</span></a>
        </li>
    </ul>
</div>
