// Button settings
// --------------------
$btn-background:    #fff;
$btn-border-radius: 3px;
$btn-padding:       8px 15px;
$btn-margin:        0;
$btn-width:         auto;
$btn-height:        auto;
$btn-cursor:        pointer;

.btn {
    font-size:      $font-size-base;
    background:     $btn-background;
    width:          $btn-width;
    height:         $btn-height;
    border-radius:  $btn-border-radius;
    letter-spacing: $letter-spacing-base;
    padding:        $btn-padding;
    margin:         $btn-margin;
    cursor:         $btn-cursor;

    &:hover,
    &:focus,
    &:active {
        text-decoration: none;
    }
}

// Color variant
.btn--default {
    @include button-color-variant($font-color-light);
}
.btn--success {
    @include button-color-variant($color-success);
}
.btn--primary {
    @include button-color-variant($color-primary);
}
.btn--danger {
    @include button-color-variant($color-danger);
}

// Size variant
.btn--medium {
    @include button-size-variant($font-size-medium, 8px, 15px);
}
.btn--small {
    @include button-size-variant($font-size-small, 8px, 15px);
}

// States variant
.btn--disabled,
.btn--disabled:hover {
    color:           lighten($font-color-light, 10) !important;
    border:          1px solid lighten($font-color-light, 10);
    cursor:          not-allowed;
    text-decoration: none;
}