a.category,
.category {
    display:        inline-block;
    background:     #fff;
    width:          auto;
    height:         auto;
    border-radius:  3px;
    letter-spacing: $letter-spacing-base;
    cursor:         pointer;
    margin:         0px;
    margin-right:   4px;
    margin-bottom:  7px;
}
// Colors variant
a.category--default,
.category-default {
    @include category-color-variant($font-color-light);
}
a.category--success,
.category--success {
    @include category-color-variant($color-success);
}
a.category--primary,
.category--primary {
    @include category-color-variant($color-primary);
}
a.category--danger ,
.category--danger {
    @include category-color-variant($color-danger);
}
// Size variant
a.category--base,
.category--base {
    @include category-size-variant($font-size-small, 4.5px, 15px);
}
a.category--small,
.category--small {
    @include category-size-variant($font-size-small, 2px, 10px);
}