// Mobiles
// --------------------
@media #{$xsmall-and-down} {
    .hide-xs {
        display: none;
    }
}

// Mobiles
// --------------------
@media #{$small-only} {
    .hide-sm {
        display: none;
    }
}

// Tablets
// --------------------
@media #{$medium-only} {
    .hide-m {
        display: none;
    }
}

// Desktops
// --------------------
@media #{$large-and-up} {
    .hide-lg {
        display: none;
    }
}