// Highlight settings
// --------------------
$hl-font-family:  Menlo;
$hl-line-height:  1.3em;
$hl-border-color: #d9d9d9;

// Figcaption
$hl-figcaption-background: #ffffff;
$hl-figcaption-color:      #999999;

// Line numbers
$hl-linenumbers-background: #ffffff;
$hl-linenumbers-color:      #aaaaaa;

// Code colorations
$hl-white:       #ffffff; // background
$hl-night-rider: #333333; // general color
$hl-bondi-blue:  #0086b3;
$hl-persimmon :  #df5000;
$hl-asparagus:   #63a35c;
$hl-pewter:      #969896; // comment
$hl-cardinal:    #a71d5d;
$hl-scampi:      #795da3;
$hl-bahama-blue: #1d3e81;

// Gist setting
// --------------------
$gist-font-size: 1em;

// Codeblock tag plugin
figure.highlight {
    background:    $hl-white;
    margin:        10px 0;
    border-radius: 3px;
    overflow:      hidden;
    line-height:   $hl-line-height;
    color:         $hl-night-rider;
    font-family:   $hl-font-family;
    border:        1px solid $hl-border-color;

    table {
        display:    block;
        width:      100%;
        overflow-y: hidden;
        overflow-x: scroll;
    }
    pre,
    .gutter,
    .code,
    .tag {
        border:  none;
        padding: 0;
        margin:  0;
    }
    // Meta bar
    figcaption {
        font-size:     $font-size-medium;
        padding:       10px 15px;
        margin:        0;
        background:    $hl-figcaption-background;
        border-bottom: 1px solid $hl-border-color;
        color:         $hl-figcaption-color;

        a {
            float: right;
        }
    }
   // lines number
    .gutter {
        background: $hl-linenumbers-background;
        border-right: 1px solid $hl-border-color;
        padding: 0.3em;

        .line {
            color: $hl-linenumbers-color;
        }
    }
    .code {
        padding: 0.3em 0.3em 0.3em 1em;
    }
    .line {
        height:    $hl-line-height;
        font-size: $font-size-medium;
    }
}

// Gist
.gist {
    .line,
    .line-number{
        font-size:     $gist-font-size;
        font-family:   $hl-font-family;
        margin-bottom: 5px;
    }
}

// Highlight code coloration
.highlight {
    // ApacheConf
    &.apacheconf {
        .comment {
            color: $hl-pewter;
        }
        .common,
        .cbracket,
        .keyword {
            color: $hl-bondi-blue;
        }
        .sqbracket,
        .string {
            color: $hl-persimmon;
        }
        .tag {
            color: $hl-asparagus;
        }
    }
    // Bash
    &.bash {
        .shebang,
        .comment {
            color: $hl-pewter;
        }
        .string {
            color: $hl-persimmon;
        }
        .keyword {
            color: $hl-cardinal;
        }
        .literal,
        .built_in {
            color: $hl-bondi-blue;
        }
        .variable {
            color: $hl-night-rider;
        }
        .title {
            color: $hl-scampi;
        }
    }
    // coffescript
    &.coffeescript {
        .keyword {
            color: $hl-cardinal;
        }
        .title {
            color: $hl-scampi;
        }
        .literal,
        .built_in,
        .number {
            color: $hl-bondi-blue;
        }
        .reserved,
        .attribute {
            color: $hl-bahama-blue;
        }
        .subst,
        .regexp,
        .string {
            color: $hl-persimmon;
        }
        .comment {
            color: $hl-pewter;
        }
    }
    // C++
    &.cpp {
        .comment {
            color: $hl-pewter;
        }
        .keyword {
            color: $hl-cardinal;
        }
        .preprocessor {
            color: $hl-persimmon;
        }
        .title {
            color: $hl-scampi;
        }
        .string {
            color: $hl-persimmon;
        }
        .number,
        .built_in{
            color: $hl-bondi-blue;
        }
    }
    // C#
    &.cs {
        .comment {
            color: $hl-pewter;
        }
        .preprocessor,
        .preprocessor .keyword {
            color: $hl-night-rider;
        }
        .keyword {
            color: $hl-cardinal;
        }
        .title {
            color: $hl-scampi;
        }
        .string {
            color: $hl-persimmon;
        }
        .number,
        .built_in{
            color: $hl-bondi-blue;
        }
        .xmlDocTag {
            color: $hl-asparagus;
        }
    }
    // CSS
    &.css {
        .at_rule,
        .keyword,
        .important {
            color: $hl-cardinal;
        }
        .string {
            color: $hl-persimmon;
        }
        .comment {
            color: $hl-pewter;
        }
        .attribute,
        .hexcolor,
        .number,
        .function {
            color: $hl-bondi-blue;
        }
        .attr_selector,
        .value {
            color: $hl-night-rider;
        }
        .id,
        .class,
        .pseudo {
            color: $hl-scampi;
        }
        .tag {
            color: $hl-asparagus;
        }
    }
}
