// Highlight settings
// --------------------
$hl-font-family:  Menlo;
$hl-line-height:  1.3em;
$hl-border-color: #d9d9d9;

// Figcaption
$hl-figcaption-background: #ffffff;
$hl-figcaption-color:      #999999;

// Line numbers
$hl-linenumbers-background: #ffffff;
$hl-linenumbers-color:      #aaaaaa;

// Code colorations
$hl-white:       #ffffff; // background
$hl-night-rider: #333333; // general color
$hl-bondi-blue:  #0086b3;
$hl-persimmon :  #df5000;
$hl-asparagus:   #63a35c;
$hl-pewter:      #969896; // comment

// Gist setting
// --------------------
$gist-font-size: 1em;

// Codeblock tag plugin
figure.highlight {
    background:    $hl-white;
    margin:        10px 0;
    border-radius: 3px;
    overflow:      hidden;
    line-height:   $hl-line-height;
    color:         $hl-night-rider;
    font-family:   $hl-font-family;
    border:        1px solid $hl-border-color;

    table {
        display:    block;
        width:      100%;
        overflow-y: hidden;
        overflow-x: scroll;
    }
    pre,
    .gutter,
    .code,
    .tag {
        border:  none;
        padding: 0;
        margin:  0;
    }
    // Meta bar
    figcaption {
        font-size:     $font-size-medium;
        padding:       10px 15px;
        margin:        0;
        background:    $hl-figcaption-background;
        border-bottom: 1px solid $hl-border-color;
        color:         $hl-figcaption-color;

        a {
            float: right;
        }
    }
   // lines number
    .gutter {
        background: $hl-linenumbers-background;
        border-right: 1px solid $hl-border-color;
        padding: 0.3em;

        .line {
            color: $hl-linenumbers-color;
        }
    }
    .code {
        padding: 0.3em 0.3em 0.3em 1em;
    }
    .line {
        height:    $hl-line-height;
        font-size: $font-size-medium;
    }
}

// Gist
.gist {
    .line,
    .line-number{
        font-size:     $gist-font-size;
        font-family:   $hl-font-family;
        margin-bottom: 5px;
    }
}

