.image-gallery {
    display:        block;
    position:       relative;
    width:          100%;
    height:         auto;
    overflow:       hidden;
    border-radius:  3px;
    border:         1px solid #ddd;
    padding-bottom: 5px;
    margin-bottom:  30px;

    .image-gallery-desc {
        font-size:     $font-size-medium;
        color:         $font-color-base;
        padding:       5px 15px;
        border-bottom: 1px solid #ddd;
    }
    .image-gallery-photos {
        padding: 5px 5px;

        .photo-box {
            float:    left;
            position: relative;
            overflow: hidden;
            display:  none;

            &:first-child {
                display:        block;
                width:          100%;
                padding-bottom: 56.25%;
            }
            .photo-box-inner {
                position: absolute;
                overflow: hidden;

                img {
                    width: 100%;
                }
            }
        }
        .fancybox-button {
            position:      absolute;
            top:           calc(50% - 30px);
            left:          calc(50% - 30px);
            display:       block;
            background:    rgba(40, 41, 45, 0.80);
            width:         60px;
            height:        60px;
            line-height:   67px;
            color:         #fff;
            overflow:      hidden;
            cursor:        pointer;
            border-radius: 3px;
        }
    }
    .image-gallery-photos--thumbnail {
        .photo-box {
            display:        block;
            width:          15%;
            padding-bottom: 15%;

            &:first-child {
                width:          85%;
                padding-bottom: 45%;
            }
            &:nth-child(n + 5) {
                display: none;
            }
        }
    }
}

