.image-gallery {
    display:        block;
    position:       relative;
    height:         auto;
    overflow:       hidden;
    margin-bottom:  30px;

    .image-gallery-desc {
        position:   absolute;
        width:      calc(100% - (#{$main-content-padding} * 4));
        bottom:     0px;
        background: rgba(0, 0, 0, 0.75);
        font-size:  $font-size-small;
        color:      #fff;
        padding:    0.5em 1.5em;
        z-index:    1;
    }
    .image-gallery-photos {
        .photo-box {
            float:    left;
            position: relative;
            overflow: hidden;
            display:  none;

            &:first-child {
                display:        block;
                width:          100%;
                padding-bottom: 56.25%;
            }
            .photo-box-inner {
                position: absolute;
                overflow: hidden;

                img {
                    width:  100%;
                    cursor: -webkit-zoom-in;
                    cursor: -moz-zoom-in;
                }
            }
        }
        .fancybox-button {
            position:      absolute;
            top:           calc(50% - 30px);
            left:          calc(50% - 30px);
            display:       block;
            background:    rgba(40, 41, 45, 0.8);
            width:         60px;
            height:        60px;
            line-height:   67px;
            color:         #fff;
            overflow:      hidden;
            cursor:        pointer;
            border-radius: 3px;
        }
    }
    .image-gallery-photos--thumbnail {
        .photo-box {
            display:        block;
            width:          50%;
            padding-bottom: 30%;
            
            &:first-child {
                width:          100%;
                padding-bottom: 40%;
                margin-bottom:  2px;
            }
            &:nth-child(2) {
                margin-right: 2px;
                width:        calc(50% - 2px);
            }
            &:nth-child(n + 4) {
                display: none;
            }
        }
    }
}