// All
// --------------------
.post-group {
    .post {
        margin-top:    15px;
        border-bottom: 1px solid #eef2f8;
    }
}
.post {
    position:       relative;
    width:          100%;
    display:        inline-block;
    vertical-align: top;

    .post-header {
        .post-title {
            margin: 0;
            word-break: initial;
            overflow:  hidden;

            &:hover {
                text-decoration: none;
            }
        }
    }
    // Cover image displayed in single post view
    .post-header-cover {
        position:          relative;
        top:               -15px;
        background-size:   cover;
        background-repeat: no-repeat;
        display:           block;
        width:             100%;
        max-height:        450px;

        .post-header {
            padding-top:    15%;
            padding-bottom: 15%;

            .post-title {
                margin:      0;
                color:       #fff;
                text-shadow: 0 2px 0 rgba(0, 0, 0, 0.8);

                &:hover {
                    text-decoration: none;
                }
            }
            .post-meta {
                font-size:   $font-size-base;
                color:       #fff !important;
                text-shadow: 0 1px 0 rgba(0, 0, 0, 0.8);

                a {
                    color: #fff;
                }
            }
        }
    }
    .post-meta {
        line-height: 1.5em;
    }
    .post-meta,
    .post-readingtime {
        color: $font-color-light;
    }
    .post-excerpt_link {
        margin-top: -15px;
    }
    .post-meta,
    .post-readingtime,
    .post-excerpt_link {
        font-family: 'Open Sans', sans-serif;
        font-size:   $font-size-small;
        font-weight: 400;
    }
    .post-excerpt,
    .post-content {
        font-family: 'Merriweather', serif;
        color:       $font-color-base;
        margin-top:  15px;
        font-weight: 300;

    }
    .post-content {
        margin-top:  25px;

        img {
            display:       block;
            width:         auto;
            max-width:     100%;
            border-radius: 3px;
        }
    }
}
.post-bottom-bar {
    position:   fixed;
    bottom:     0;
    height:     60px;
    background: #fff;
    margin:     0;
    border-top: 1px solid #eef2f8;
    z-index:    10;
}
// Mobiles
// --------------------
@media #{$small-and-down} {
    .post-thumbnailimg {
        display: none;

        img {
            display: none;
        }
    }
    .post-bottom-bar {
        width:   calc(100% - 20px);
        left:    0;
        padding: 0 10px;
    }
}

// Tablets
// --------------------
@media #{$medium-only} {
    .post-header-cover {
        .post-header {
            .post-title {
                font-size: $font-size-h1 + 0.2rem;
            }
        }
    }
    .post-bottom-bar {
        width:   calc(100% - #{$sidebar-tablet-width} - 30px);
        left:    $sidebar-tablet-width;
        padding: 0 15px;
    }
}

// Tablets & desktops
// --------------------
@media #{$medium-and-up} {
    // Thumbnail image displayed in index view
    .post.post--thumbnailimg {
        .post-thumbnailimg {
            display:        inline-block;
            margin:         15px 0 0 15px;
            vertical-align: top;

            img {
                display:       block;
                width:         $thumbnail-image-width;
                height:        $thumbnail-image-width;
                border-radius: 3px;
            }
        }
        .post-wrap {
            display: inline-block;
            width:   calc(100% - #{$thumbnail-image-width} - 20px);
        }
    }
}

// Desktops
// --------------------
@media #{$large-and-up} {
    .post-header-cover {
        .post-header {
            .post-title {
                font-size: $font-size-h1 + 0.6rem;
            }
        }
    }
    .post-bottom-bar {
        width:   calc(100% - #{$sidebar-desktop-width} - 30px);
        left:    $sidebar-desktop-width;
        padding: 0 15px;
    }
}