// All
// --------------------
.post-wrap {
    padding: 10px;

    .post-thumbnailimg {
        display: none;

        img {
            display: none;
        }
    }
    .post {
        width:          100%;
        display:        inline-block;
        vertical-align: top;

        .post-title {
            margin-top: 0px;
            margin-bottom: 0px;
            word-break: initial;
            overflow: hidden;
        }
        .post-title:hover {
            text-decoration: none;
        }
        .post-info,
        .post-readingtime {
            color: $font-color-light;
        }
        .post-info,
        .post-readingtime,
        .post-excerpt_link {
            font-family: 'Open Sans', sans-serif;
            font-size:   $font-size-small;
            font-weight: 400;
        }
        .post-excerpt_link {
            margin-top:-15px;
        }
        .post-snippet,
        .post-content {
            font-family: 'Merriweather', serif;
            font-size:   $font-size-base;

            color:       $font-color-base;
            margin-top:  15px;
            font-weight: 300;

        }
        .post-content {
            margin-top:  25px;

            .video-container {
                position:    relative;
                padding-top: 56.25%; // 16:9 ratio
                height:      0px;
                overflow:    hidden;

                iframe,
                object,
                embed {
                    position:   absolute;
                    top:        0px;
                    left:       0px;
                    width:      100%;
                    height:     100%;
                    margin-top: 0px;
                }
            }
            img {
                display:       block;
                width:         auto;
                max-width:     100%;
                border-radius: 5px;
            }
        }
        .post-tags-categories {
            color:   $font-color-light;
            display: inline-block;
            margin:  8px 0px 20px 2px;
        }
    }
    .post-separator {
        display:       block;
        width:         100%;
        height:        1px;
        border-bottom: 1px solid #eef2f8;
        margin:        0px 0px 10px 0px;
    }
    .post-footer {
        margin: 20px 0px;
    }
    .post-bottom-bar {
        position:   fixed;
        bottom:     0px;
        height:     60px;
        background: #fff;
        margin:     0px;
        border-top: 1px solid #eef2f8;

    }
}
// Mobiles
// --------------------
@media #{$small-and-down} {
    .post-bottom-bar {
        width:   calc(100% - 20px);
        left:    0px;
        padding: 0 10px;
    }
}
// Tablets
// --------------------
@media #{$medium-only} {
    .post-bottom-bar {
        width:   calc(100% - #{$sidebar-tablet-width} - 30px);
        left:    $sidebar-tablet-width;
        padding: 0 15px;
    }
}
// Tablets & desktops
// --------------------
@media #{$medium-and-up} {
    .post-wrap.post--thumbnailimg {
        .post-thumbnailimg {
            display:     inline-block;
            margin-left: 15px;

            img {
                display:       block;
                width:         $thumb-image-width;
                height:        $thumb-image-width;
                border-radius: 5px;
            }
        }
        .post {
            display: inline-block;
            width:   calc(100% - #{$thumb-image-width} - 33px);
        }
    }
}
// Desktops
// --------------------
@media #{$large-and-up} {
    .post-bottom-bar {
        width:   calc(100% - #{$sidebar-desktop-width} - 30px);
        left:    $sidebar-desktop-width;
        padding: 0 15px;
    }
}