a.tag,
.tag {
    font-size:      $font-size-small;
    background:     #fff;
    width:          auto;
    height:         auto;
    border-radius:  3px;
    letter-spacing: $letter-spacing-base;
    padding:        8px 15px;
    cursor:         pointer;
    margin:         0px;
    color:          $font-color-light;
    border:         1px solid $font-color-light;

    &:hover {
        color:           $color-primary;
        border:          1px solid $color-primary;
        text-decoration: none;
    }
}
