<% if ((typeof categories !== 'undefined') && (categories.length > 0)) { %>
    <% categories.each(function(item){ %>
        <a class="category" href="<%- url_for(item.path) %>"><%= item.name %></a>
    <% }); %>
<% } %>