<header id="header">
    <i id="btn-open-sidebar" class="fa fa-lg fa-bars "></i>
    <% if ((theme.gravatar_image) && (config.email)) { %>
        <img class="profile-picture" src="<%- gravatar(config.email, 90) %>"/>
    <% } else if (theme.author.picture) { %>
        <img class="profile-picture" src="<%- url_for(theme.image_dir + '/' + theme.author.picture) %>"/>
    <% } else if (config.title) { %>
        <a href="<%= config.url %>"><h1 class="header-title text-center text-large"><%= config.title %></h1></a>
    <% } %>
</header>