<header id="header">
    <i id="btn-open-sidebar" class="fa fa-lg fa-bars "></i>
    <% if ((theme.author.gravatar) || (theme.author.picture)) { %>
        <img class="header-logo" src="<%- gravatar(config.email, 90) || theme.author.picture %>"/>
    <% } else if (config.title) { %>
        <h1 class="header-title text-center text-large"><%= config.title %></h1>
    <% } %>
</header>