<%
    var single = '';

    if (page.total == 1) {
        single = 'single';
    }
%>
<ul class="pagination">
    <% if (page.prev) { %>
        <li class="pagination-nav">
            <a class="btn btn--success" href="<%= config.root + page.prev_link %>">Newer posts</a>
        </li>
    <% } %>
    <li class="pagination-number <%= 'pagination-number--' + single %>">Page <%= page.current + ' of ' + page.total %></li>
    <% if (page.next) { %>
        <li class="pagination-nav">
            <a class="btn btn--success" href="<%- config.root + page.next_link %>">Older posts</a>
        </li>
    <% } %>
</ul>