<% if ((typeof tags !== 'undefined') && (tags.length > 0)) { %>
    <% tags.limit(15).each(function(item){ %>
        <a class="tag" href="<%- url_for(item.path) %>"><%= item.name %></a>
    <% }); %>
<% } %>