.caption {
    display:       block;
    font-family:   'Merriweather', serif;
    font-size:     map-get($font-size, small);
    color:         $font-color-base;
    text-align:    center;
    font-style:    italic;
    padding-right: 10px;
    padding-left:  10px;
}