.form-control {
    background: transparent;
    width:      100%;
    border:     none;
    outline:    none;
    color:      $font-color-input;

    &:hover,
    &:focus {
        outline: none;
    }
}

.input--xlarge {
    @include input-size-variant(auto, 10px 0, 25px, 25px);
}