// Highlight general
$hl-font-family:   Menlo;
$hl-line-height:   1.2em;
$hl-border-radius: 3px;
$hl-border-color:  #d9d9d9;
$hl-border:        1px solid #{$hl-border-color};
$hl-font-size:     1.3rem;
$hl-margin:        10px 0;

// Figcaption
$hl-figcaption-background: #f7f7f7;
$hl-figcaption-color:      #999999;
$hl-figcaption-padding:    10px 15px;
$hl-figcaption-margin:     0;

// Line numbers
$hl-gutter-background: #ffffff;
$hl-gutter-color:      #aaaaaa;
$hl-gutter-padding:    0.3em 0.5em;

// Code
$hl-code-padding: 0.3em 0.3em 0.3em 1em;

// Gist
$gist-font-size: 1em;
$gist-line-margin: 0 0 5px 0;

// Colors
$hl-white:           #ffffff; // Background
$hl-night-rider:     #333333; // General color
$hl-bondi-blue:      #0086b3;
$hl-persimmon :      #df5000;
$hl-asparagus:       #63a35c;
$hl-pewter:          #969896; // Comment
$hl-cardinal:        #a71d5d;
$hl-scampi:          #795da3;
$hl-bahama-blue:     #1d3e81;
$hl-free-speech-red: #bd2c00; // Deletion color for .diff file
$hl-misty-rose:      #ffecec; // Deletion background color for .diff file
$hl-limeade:         #55a532; // Addition color for .diff file
$hl-honeydew:        #eaffea; // Addition background color for .diff file

// Gist setting

// Codeblock tag plugin
figure.highlight {
    background:    $hl-white;
    margin:        $hl-margin;
    border-radius: $hl-border-radius;
    overflow:      hidden;
    line-height:   $hl-line-height;
    color:         $hl-night-rider;
    font-family:   $hl-font-family;
    border:        $hl-border;

    table {
        display:    block;
        width:      100%;
        overflow-y: hidden;
        overflow-x: scroll;
    }
    pre,
    .gutter,
    .code,
    .tag {
        border:  none;
        padding: 0;
        margin:  0;
    }
    // Meta bar
    figcaption {
        font-size:     $hl-font-size;
        padding:       $hl-figcaption-padding;
        margin:        $hl-figcaption-margin;
        background:    $hl-figcaption-background;
        border-bottom: $hl-border;
        color:         $hl-figcaption-color;

        a {
            float: right;
        }
    }
   // Gutter
    .gutter {
        background:   $hl-gutter-background;
        border-right: $hl-border;
        padding:      $hl-gutter-padding;

        .line {
            color: $hl-gutter-color;
        }
    }
    // Code
    .code {
        padding: $hl-code-padding;
    }
    // Line
    .line {
        height:    $hl-line-height;
        font-size: $hl-font-size;
    }
}
// Gist
.gist {
    .line,
    .line-number {
        font-size:     $gist-font-size;
        font-family:   $hl-font-family;
        margin-bottom: $gist-line-margin;
    }
}
// Highlight code coloration
.highlight {
    // General
    .comment {
        color: $hl-pewter;
    }
    .string {
        color: $hl-persimmon;
    }
    .keyword {
        color: $hl-cardinal;
    }
    // ApacheConf
    &.apacheconf .code {
        .common,
        .cbracket,
        .keyword {
            color: $hl-bondi-blue;
        }
        .sqbracket{
            color: $hl-persimmon;
        }
        .tag {
            color: $hl-asparagus;
        }
    }
    // Bash
    &.bash .code {
        .shebang {
            color: $hl-pewter;
        }
        .literal,
        .built_in {
            color: $hl-bondi-blue;
        }
        .variable {
            color: $hl-night-rider;
        }
        .title {
            color: $hl-scampi;
        }
    }
    // coffescript
    &.coffeescript .code {
        .title {
            color: $hl-scampi;
        }
        .literal,
        .built_in,
        .number {
            color: $hl-bondi-blue;
        }
        .reserved,
        .attribute {
            color: $hl-bahama-blue;
        }
        .subst,
        .regexp {
            color: $hl-persimmon;
        }
    }
    // C/C++
    &.cpp .code,
    &.c .code {
        .preprocessor {
            color: $hl-persimmon;
        }
        .title {
            color: $hl-scampi;
        }
        .number,
        .built_in{
            color: $hl-bondi-blue;
        }
    }
    // C#
    &.cs .code {
        .preprocessor,
        .preprocessor .keyword {
            color: $hl-night-rider;
        }
        .title {
            color: $hl-scampi;
        }
        .number,
        .built_in{
            color: $hl-bondi-blue;
        }
        .xmlDocTag {
            color: $hl-asparagus;
        }
    }
    // CSS
    &.css .code {
        .at_rule,
        .important {
            color: $hl-cardinal;
        }
        .attribute,
        .hexcolor,
        .number,
        .function {
            color: $hl-bondi-blue;
        }
        .attr_selector,
        .value {
            color: $hl-night-rider;
        }
        .id,
        .class,
        .pseudo {
            color: $hl-scampi;
        }
        .tag {
            color: $hl-asparagus;
        }
    }
    // Diff
    &.diff .code {
        .chunk {
            color: $hl-scampi;
            font-weight: bold;
        }
        .addition {
            color:            $hl-limeade;
            background-color: $hl-honeydew;
        }
        .deletion {
            color:            $hl-free-speech-red;
            background-color: $hl-misty-rose;
        }
    }
    // HTTP
    &.http .code {
        .literal,
        .attribute {
            color: $hl-bondi-blue;
        }
        .request {
            color: $hl-cardinal;
        }
    }
    // INI
    &.ini .code {
        .title {
            color: $hl-scampi;
        }
        .setting {
            color: $hl-cardinal;
        }
        .value,
        .keyword {
            color: $hl-night-rider;
        }
    }
    // JAVA
    &.java .code {
        .title {
            color: $hl-scampi;
        }
        .javadoc {
            color: $hl-pewter;
        }
        .javadoctag {
            color: $hl-cardinal;
        }
        .number {
            color: $hl-bondi-blue;
        }
        .params {
            color: $hl-bahama-blue;
        }
    }
    // JavaScript
    &.js .code {
        .title {
            color: $hl-scampi;
        }
        .javadoc {
            color: $hl-pewter;
        }
        .tag,
        .javadoctag {
            color: $hl-cardinal;
        }
        .tag .title {
            color: $hl-night-rider;
        }
        .regexp {
            color: $hl-persimmon;
        }
        .built_in,
        .literal,
        .number {
            color: $hl-bondi-blue;
        }
    }
    // JSON
    &.json .code {
        .attribute {
            color: $hl-persimmon;
        }
        .number {
            color: $hl-bondi-blue;
        }
    }
    // Makefile
    &.mak .code {
        .constant {
            color: $hl-night-rider;
        }
        .variable {
            color: $hl-persimmon;
        }
        .title {
            color: $hl-scampi;
        }
        .keyword {
            color: $hl-bondi-blue;
        }
    }
    // Markdown
    &.md .code {
        .value,
        .link_label,
        .strong,
        .emphasis,
        .blockquote {
            color: $hl-persimmon;
        }
        .link_reference,
        .code {
            color: $hl-bondi-blue;
        }
        .link_url {
            text-decoration: underline;
        }
    }
    // Nginx
    &.nginx .code {
        .title {
            color: $hl-cardinal;
        }
        .built_in {
            color: $hl-bondi-blue;
        }
        .regexp,
        .number {
            color: $hl-persimmon;
        }
        .variable {
            color: $hl-night-rider;
        }
    }
    // Objective-C
    &.objectivec .code {
        .preprocessor {
            color: $hl-cardinal;

            .title {
                color: $hl-persimmon;
            }
        }
        .title {
            color: $hl-scampi;
        }
        .literal,
        .number,
        .built_in {
            color: $hl-bondi-blue;
        }
    }
    // Perl
    &.perl .code {
        .sub {
            color: $hl-scampi;
        }
        .regexp {
            color: $hl-persimmon;
        }
    }
    // PHP
    &.php .code {
        .phpdoc {
            color: $hl-cardinal;
        }
        .regexp {
            color: $hl-persimmon;
        }
        .literal,
        .number {
            color: $hl-bondi-blue;
        }
        .title {
            color: $hl-scampi;
        }
    }
    // Python
    &.python .code {
        .decorator,
        .title {
            color: $hl-scampi;
        }
        .number {
            color: $hl-bondi-blue;
        }
    }
    // Ruby
    &.ruby .code {
        .parent,
        .title {
            color: $hl-scampi;
        }
        .prompt,
        .constant,
        .number,
        .subst .keyword,
        .symbol {
            color: $hl-bondi-blue;
        }
    }
    // SQL
    &.sql {
        .built_in{
            color: $hl-cardinal;
        }
        .number {
            color: $hl-bondi-blue;
        }
    }
    // XML, HTML
    &.xml {
        .tag {
            color: $hl-night-rider;
        }
        .value {
            color: $hl-persimmon;
        }
        .attribute {
            color: $hl-scampi;
        }
        .title {
            color: $hl-asparagus;
        }
    }
    // Puppet
    &.puppet {
        .title {
            color: $hl-scampi;
        }
        .function {
            color: $hl-bondi-blue;
        }
    }
    // LESS
    &.less {
        .tag,
        .at_rule {
            color: $hl-cardinal;
        }
        .number,
        .hexcolor,
        .function,
        .attribute {
            color: $hl-bondi-blue;

        }
        .built_in {
            color: $hl-persimmon;
        }
        .id,
        .pseudo,
        .class {
            color: $hl-scampi;
        }
    }
    // SCSS
    &.scss {
        .tag,
        .at_rule,
        .important {
            color: $hl-cardinal;
        }
        .preprocessor,
        .number,
        .hexcolor,
        .function,
        .attribute {
            color: $hl-bondi-blue;

        }
        .variable {
            color: $hl-night-rider;
        }
        .built_in {
            color: $hl-persimmon;
        }
        .id,
        .pseudo,
        .class {
            color: $hl-scampi;
        }
    }
    // Stylus
    &.stylus {
        .at_rule {
            color: $hl-cardinal;
        }
        .tag {
            color: $hl-asparagus;
        }
        .number,
        .hexcolor,
        .attribute,
        .params {
            color :$hl-bondi-blue;
        }
        .class,
        .id,
        .pseudo,
        .title {
            color: $hl-scampi;
        }
    }
    // Go
    &.go {
        .typename {
            color: $hl-cardinal;
        }
        .built_in,
        .constant {
            color :$hl-bondi-blue;
        }
    }
    // Swift
    &.swift {
        .preprocessor {
            color: $hl-cardinal;
        }
        .title {
            color: $hl-scampi;
        }
        .built_in,
        .number {
            color: $hl-bondi-blue;
        }
    }
}