.pagination-bar {
    height: auto;
    width:  100%;
    height: 60px;

    .pagination {
        height:      60px;
        line-height: 60px;
        display:     block;
        list-style:  none;
        padding:     0 10px;
        width:       auto;

        .pagination-prev,
        .pagination-next {
            float:        left;
            margin-right: 10px;
        }
        .pagination-next {
            i {
                font-size:   $font-size-base;
                margin-left: 10px;
            }
        }
        .pagination-prev {
            i {
                font-size:    $font-size-base;
                margin-right: 10px;
            }
        }
        .pagination-number {
            float:     right;
            font-size: $font-size-medium;
            color:     $font-color-light;
        }
    }
}