// Group of `.post`
// Add margin and border bottom when `.post` are in `.post-group`
.post-group {
    .post {
        // Space between 2 post
        margin-top:    15px;
        border-bottom: 1px solid #eef2f8;
    }
}

// Post
.post {
    position:       relative;
    width:          100%;
    display:        inline-block;
    vertical-align: top;

    .post-header {
        .post-title {
            margin:     0;
            word-break: initial;
            overflow:   hidden;

            &:hover {
                text-decoration: none;
            }
        }
    }
    // Cover image displayed in single post view
    // When post's `coverImage` variable is defined
    .post-header-cover {
        position:          relative;
        // Fix the cover image to the top of the page. `#main-content` have a top padding of 15p
        top:               -15px;
        background-size:   cover;
        background-repeat: no-repeat;
        display:           block;
        width:             100%;
        max-height:        450px;

        .post-header {
            // Use to center the content of `.post-header`
            padding-top:    15%;
            // Use to center the content of `.post-header`
            padding-bottom: 15%;

            .post-title {
                margin:      0;
                color:       white;
                text-shadow: 0 2px 0 rgba(0, 0, 0, 0.9);

                &:hover {
                    text-decoration: none;
                }
            }
            // Post meta contains post's date, post's categories and tags
            .post-meta {
                font-size:      $font-size-base;
                color:          white !important;
                font-weight:    700;
                letter-spacing: 0.05em;
                text-shadow:    0 1px 0 rgba(0, 0, 0, 0.9);

                a {
                    color: white;
                }
            }
        }
    }
    // Post meta contains post's date, post's categories and tags
    .post-meta {
        line-height: 1.5em;

        a {
            color: map-get($colors, light);
        }
    }
    .post-meta,
    .post-readingtime {
        color: map-get($colors, light);
    }
    .post-excerpt_link {
        // Bring the post's link nearest of the excerpt
        margin-top: -15px;
    }
    .post-meta,
    .post-readingtime,
    .post-excerpt_link {
        font-family: 'Open Sans', sans-serif;
        font-size:   map-get($font-size, small);
        font-weight: 400;
    }
    .post-excerpt,
    .post-content {
        font-family: 'Merriweather', serif;
        color:       map-get($colors, base);
        margin-top:  15px;
        font-weight: 300;
        overflow:    hidden;
    }
    .post-content {
        margin-top: 25px;

        img {
            display:       block;
            width:         auto;
            max-width:     100%;
            border-radius: 3px;
        }
    }
    .post-footer {
        margin-top: 20px;
        &-tags {
            padding-bottom: 10px;
            margin-bottom:  10px;
            border-bottom:  1px solid #eef2f8;
        }
    }
}
// Respond to small screen and down
@media #{$small-and-down} {
    // Hide the post's thumbnail image
    .post-thumbnailimg {
        display: none;

        img {
            display: none;
        }
    }
}

// Respond to medium screen only
@media #{$medium-only} {
    // Increase the font size of the post's title
    .post-header-cover {
        .post-header {
            .post-title {
                font-size: map-get($headings-font-size, h1) + 0.2rem;
            }
        }
    }
}

// Respond to small screen and up
@media #{$small-and-up} {
    // Display the post's thumbnail image
    .post.post--thumbnailimg {
        .post-thumbnailimg {
            display:        inline-block;
            margin:         15px 0 30px 15px;
            vertical-align: top;

            img {
                display:       block;
                width:         $post-thumbnail-image-width;
                height:        $post-thumbnail-image-width;
                border-radius: 3px;
            }
        }
        .post-wrap {
            display: inline-block;
            width:   calc(100% - #{$post-thumbnail-image-width} - 20px);
        }
    }
}

// Respond to large screen and up
@media #{$large-and-up} {
    // Increase the font size of the post's title
    .post-header-cover {
        .post-header {
            .post-title {
                font-size: map-get($headings-font-size, h1) + 0.6rem;
            }
        }
    }
}