.post-actions {
    height:      60px;
    line-height: 60px;
    clear:       both;

    ol.post-actions-panel {
        margin:       0;
        padding-left: 0;

        ul {
            float:        left;
            list-style:   none;
            padding-left: 0;
            margin-top:   0;

            li {
                width:      auto;
                text-align: center;
            }
        }
        // Post's navigation options
        ul.post-actions-nav {
            width:   50%;
            z-index: 10; // On very small screen `.post-actions-nav` will be above `.post-actions-share`

            li {
                float: left;

                &:first-child {
                    .post-actions-btn {
                        span {
                            margin-left: 10px;
                        }
                    }
                }
                &:last-child {
                    .post-actions-btn {
                        margin-left: 15px;

                        span {
                            margin-right: 10px;
                        }
                    }
                }
            }
        }
        // Post's share options
        ul.post-actions-share {
            width:   50%;
            z-index: 9; // On very small screen `.post-actions-nav` will be above `.post-actions-share`

            li {
                float: right;

                &:nth-child(n + 2) {
                    .post-actions-btn {
                        margin-right: 15px;
                    }
                }
            }
        }
    }
}
// Respond to small screen and down
@media #{$small-and-down} {
    .post-actions {
        ol.post-actions-panel {
            ul.post-actions-nav {
                width: 35%; // Best width for responsive post's navigation panel on small screen
            }
            ul.post-actions-share {
                width: 65%; // Best width for responsive post's share panel on small screen
            }
        }
    }
}