.pullquote {
    width:      45%;
    text-align: left;

    &.left {
        float:  left;
        margin: 10px 10px 10px 20px;
    }
    &.right {
        float:  right;
        margin: 10px 20px 10px 10px;
    }
}