.tooltip {
    position: relative;
    cursor:   pointer;

    &:before {
        z-index:          1001;
        border:           6px solid transparent;
        background:       transparent;
        content:          "";
        margin-left:      -6px;
        margin-bottom:    -12px;
        border-top-color: rgba(0, 0, 20, 0.93);
    }
    &:after {
        z-index:          1000;
        padding:          8px;
        min-width:        180px;
        background-color: rgba(0, 0, 20, 0.93);
        color:            #fff;
        content:          attr(data-tooltip);
        font-size:        0.93em;
        line-height:      $line-height-base;
        border-radius:    5px;
        margin-left:      -80px;
    }
    &:before,
    &:after {
        bottom:             100%;
        left:               50%;
        position:           absolute;
        visibility:         hidden;
        -webkit-transition: -webkit-transform 0.2s cubic-bezier(0.71, 1.7, 0.77, 1.24);
        -moz-transition:    -moz-transform 0.2s cubic-bezier(0.71, 1.7, 0.77, 1.24);
        transition:         transform 0.2s cubic-bezier(0.71, 1.7, 0.77, 1.24);
        pointer-events:     none;
        @include opacity(0);
        @include prefix(transition, opacity 0.2s ease-in-out, 'webkit' 'moz' 'ms' 'o');
        @include prefix(transition, visibility 0.2s ease-in-out, 'webkit' 'moz' 'ms' 'o');
        @include prefix(transition, translate3d(0, 0, 0), 'webkit' 'moz' 'ms' 'o');
    }
    &:hover:before,
    &:hover:after,
    &:focus:before,
    &:focus:after {
        visibility: visible;
        @include opacity(1);
        @include prefix(transform, translateY(-12px), 'webkit' 'moz' 'ms' 'o');
    }
}
[data-tooltip] {
    @extend .tooltip;
}
// Directions
// --------------------

// Top
.tooltip--top {
    &:before {
        margin-left:      -6px;
        margin-bottom:    -12px;
        border-top-color: rgba(0, 0, 20, 0.93);
    }
    &:after {
        margin-left: -80px;
    }
    &:before,
    &:after {
        bottom: 100%;
        left:   50%;
    }
    &:hover:before,
    &:hover:after,
    &:focus:before,
    &:focus:after {
        @include prefix(transform, translateY(-12px), 'webkit' 'moz' 'ms' 'o');
    }
}
// Left
.tooltip--left {
    &:after {
        margin-left:   0;
        margin-bottom: -16px;
    }
    &:before {
        margin-left:       0;
        margin-right:      -12px;
        margin-bottom:     0;
        border-top-color:  transparent;
        border-left-color: rgba(0, 0, 20, 0.93);
    }
    &:before,
    &:after {
        right:  100%;
        bottom: 50%;
        left:   auto;
    }
    &:hover:before,
    &:hover:after,
    &:focus:before,
    &:focus:after {
        @include prefix(transform, translateY(-12px), 'webkit' 'moz' 'ms' 'o');
    }
}
// Bottom
.tooltip--bottom {
    &:before {
        top:                 3px;
        margin-top:          -12px;
        margin-bottom:       0;
        border-top-color:    transparent;
        border-bottom-color: rgba(0, 0, 20, 0.93);
    }
    &:before,
    &:after {
        top:    100%;
        bottom: auto;
        left:   50%;
    }
    &:hover:before,
    &:hover:after,
    &:focus:before,
    &:focus:after {
        @include prefix(transform, translateY(12px), 'webkit' 'moz' 'ms' 'o');
    }
}
// Right
.tooltip--right {
    &:after {
        margin-bottom: -16px;
    }
    &:before {
        margin-bottom:      0;
        margin-left:        -12px;
        border-top-color:   transparent;
        border-right-color: rgba(0, 0, 20, 0.93);
        top:                3px;
    }
    &:before,
    &:after {
        bottom: 50%;
        left:   100%;
    }
    &:hover:before,
    &:hover:after,
    &:focus:before,
    &:focus:after {
        @include prefix(transform, translateY(12px), 'webkit' 'moz' 'ms' 'o');
    }
    &:hover:before,
    &:hover:after,
    &:focus:before,
    &:focus:after {
        @include prefix(transform, translateY(12px), 'webkit' 'moz' 'ms' 'o');
    }
}