.archive-group {
    .archive {
        .archive-title {
            color: $font-color-base;

            &:hover {
                text-decoration: underline;
            }
        }
        ol.archive-post-group,
        ul.archive-post-group {
            list-style: none;

            li.archive-post {
                font-size: $font-size-medium;

                .archive-post-title {
                    margin-left: 10px;
                    color: $font-color-base;

                    &:hover {
                        text-decoration: underline;
                    }
                }
                .archive-post-date {
                    color: $font-color-light;
                }
                &::before {
                    font-family: "FontAwesome";
                    content:     "\f0da";
                    font-size:   $font-size-small;
                }
            }
        }
    }

}