.archive {
    .a-list {
        .a-list-title {

            &:hover {
                text-decoration: underline;
            }
        }
        .ol,
        ul {
            list-style: none;

            li {
                font-size: 0.9em;
                color:     $font-color-base;

                .a-list-post {
                    margin-left: 10px;

                    &:hover {
                        text-decoration: underline;
                    }
                }
                span {
                    color: $font-color-light;
                }
            }
            li::before {
                font-family: "FontAwesome";
                content:     "\f0da";
                font-size:   $font-size-small;
            }
        }
    }

}