.archive {
    .ol,
    ul {
        list-style: none;

        li {
            font-size:     $font-size-large;
            margin-bottom: 5px;
            color:         #88909a;

            a {
                margin-left: 10px;
            }
        }
        li::before {
            font-family: "FontAwesome";
            content:     "\f0da";
        }
    }
}