.box {
    border-radius: 3px;
    border:        1px solid #d0dbed;
    @include       box-shadow(0, 3px, 0px, #d0dbed);
    background:    #fafbfc;
    padding:       10px;
}
.box-group {
    margin-top: 20px;

    .box:nth-child(n + 2) {
        margin-top: 20px;
    }
}