.btn {
    font-size:      $font-size-base;
    width:          auto;
    height:         auto;
    border-radius:  3px;
    letter-spacing: $letter-spacing-base;
    padding:        8px 15px;
    color:          #fff;
    border:         none;
    box-shadow:     rgba(0, 0, 0, 0.14902) 0px 4px 9px 0px;
    cursor:         pointer;
    margin:         0px 0px 0px 0px;
}
.btn--success {
    @include button-color-variant($color-success);
}
.btn--primary {
    @include button-color-variant($color-primary);
}
.btn--danger {
    @include button-color-variant($color-danger);
}
.btn--facebook {
    @include button-color-variant(#33508e);
}
.btn--twitter {
    @include button-color-variant(#53a0d9);
}
.btn--googleplus {
    @include button-color-variant(#d84232);
}
.btn--xsmall {
    @include button-size-variant($font-size-xsmall, 5px, 8px);
}
.btn--small {
    @include button-size-variant($font-size-small, 8px, 10px);
}