a.category,
.category {
    display:        inline-block;
    width:          auto;
    height:         auto;
    background:     $font-color-link;
    color:          #fff;
    border-radius:  3px;
    text-transform: uppercase;
    padding:        2px 10px 0px 10px;
    text-align:     center;
    font-size:      10px;
    letter-spacing: 0.3px;
    margin-right:   5px;
    margin-bottom:  5px;
    @include tag-variant($color-orange);
}
