a.category,
.category {
    letter-spacing: 0.3px;
    color:          $category-color;
    text-transform: uppercase;
}
a.category--link:hover,
.category--link:hover {
    text-decoration: underline;
}
a.category--block,
.category--block {
    display:       inline-block;
    width:         auto;
    height:        auto;
    background:    none;
    border-radius: 3px;
    padding:       2px 10px 0px 10px;
    text-align:    center;
    margin-right:  5px;
    margin-bottom: 5px;
    font-size:     10.5px;
    border:        1px solid $category-color;

    &:hover {
        color:  darken($category-color, 10);
        border: 1px solid darken($category-color, 10);
    }
}
