.markdown {
    h1,
    h2,
    h3 {
        margin-top:    20px;
        margin-bottom: 10px;
    }
    h4,
    h5,
    h6 {
        margin-top:    10px;
        margin-bottom: 10px;
    }
    h1 {
        font-size: $mk-font-size-h1;
    }
    h2 {
        font-size: $mk-font-size-h2;
    }
    h3 {
        font-size: $mk-font-size-h3;
    }
    h4 {
        font-size: $mk-font-size-h4;
    }
    h5 {
        font-size: $mk-font-size-h5;
    }
    h6 {
        font-size: $mk-font-size-h6;
    }
}