// All
// --------------------
.post {
    padding: 10px;

    .post-thumbnailimg {
        display: none;

        img {
            display: none;
        }
    }
    .post-info {
        width:          100%;
        display:        inline-block;
        vertical-align: top;

        .post-title {
            color:         #233152;
            font-size:     29px;
            margin-top:    0px;
            margin-bottom: 0px;
            font-weight:   300;
            text-overflow: ellipsis;
            word-break:    initial;
            overflow:      hidden;


        }
        .post-date {
            color:      #b1bdcc;
            display:    inline-block;
            margin-top: 5px;
        }
        .post-readingtime {
            color:   #b1bdcc;
            display: inline-block;
        }
        .post-snippet,
        .post-content {
            color:         #77818d;
            margin-bottom: 10px;
            line-height:   1.5;

            img {
                width:         auto;
                max-width:     100%;
                padding:       5px;
                border:        1px solid #d0dbed;
                border-radius: 3px;
            }
        }
        .post-tags {
            display: inline-block;
            margin:  8px 0px 20px 2px;
        }
    }
    .post-separator {
        display:       block;
        width:         40%;
        max-width:     350px;
        height:        1px;
        border-bottom: 1px solid #d0dbed;
        margin:        10px 0px 10px 0px;

    }
}

// Tablets & desktops
// --------------------
@media #{$medium-and-up} {
    .post.post--thumbnailimg {
        .post-thumbnailimg {
            display:       inline-block;
            padding:       5px;
            border:        1px solid #d0dbed;
            border-radius: 3px;
            width:         calc(#{$thumb-image-width} - 10px);
            height:        calc(#{$thumb-image-width} - 10px) !important;
            overflow:      hidden;
            margin-right:  15px;

            img {
                display: block;
                width:   100%;
                height:  100%;
            }
        }
        .post-info {
            width: calc(100% - (#{$thumb-image-width} + 30px));
        }
    }
}
