// All
// --------------------
.post-actions {
    height:      60px;
    line-height: 60px;
    clear:       both;

    ol.post-actions-panel {
        margin:       0px;
        padding-left: 0px;

        ul {
            float:        left;
            list-style:   none;
            padding-left: 0px;
            margin-top:   0px;

            li {
                width:      auto;
                text-align: center;
            }
        }
        ul.post-actions-nav {
            width: 50%;

            li {
                float: left;
            }
            li:first-child {
                 .post-actions-btn {
                     span {
                         margin-left: 10px;
                     }
                 }
             }
            li:last-child {
                .post-actions-btn {
                    margin-left: 15px;

                    span {
                        margin-right: 10px;
                    }
                }
            }
        }
        ul.post-actions-share {
            width: 50%;

            li {
                float: right;

            }
            li:nth-child(n + 2) {
                .post-actions-btn {
                    margin-right: 15px;
                }
            }
        }
    }
}
// Mobiles
// --------------------
@media #{$small-and-down} {
    .post-actions {
        ol.post-actions-panel {
            ul.post-actions-share {
                width: 100%;

                li {
                    width: calc(100% / 4);
                }
            }
        }
    }
}