.btn {
    font-size:      $font-size-large;
    letter-spacing: 0.3px;
    font-weight:    700;
    width:          auto;
    height:         auto;
    padding:        12px 20px;
    border-radius:  30px;
    color:          #fff;
    border:         none;
    box-shadow:     rgba(0, 0, 0, 0.14902) 0px 4px 9px 0px;
    cursor:         pointer;
    margin:         0px 0px 0px 0px;
}
.btn--success {
    @include button-variant($btn-bg-success);
}
.btn--primary {
    @include button-variant($btn-bg-primary);
}
.btn--danger {
    @include button-variant($btn-bg-danger);
}
.btn--facebook {
    @include button-variant(#33508e);
}
.btn--twitter {
    @include button-variant(#53a0d9);
}
.btn--googleplus {
    @include button-variant(#d84232);
}


