// All
// --------------------
.pagination {
    height:     auto;
    list-style: none;
    padding:    0px;
    margin:     30px auto 0px auto;

    .pagination-nav,
    .pagination-number {
        display:    block;
        height:     auto;
        text-align: center;

        a {
            display:       block;
            width:         100%;
            padding-left:  0px;
            padding-right: 0px;
        }
    }
    .pagination-number {
        color: #7f8994;
    }
}

// Mobiles
// --------------------
@media #{$small-and-down} {
    .pagination {
        width: 100%;

        .pagination-nav,
        .pagination-number {
            display:       block;
            width:         100%;
            margin-bottom: 15px;
        }
    }
}

// Tablets & desktops
// --------------------
@media #{$medium-and-up} {
    .pagination {
        width: $pagination-width;

        .pagination-nav,
        .pagination-number {
            display: inline-block;
            width:   32.5%;
            margin:  0px;
        }
    }
}
