// Import of fonts
// --------------------
@import 'fonts.scss';

// Typography settings
// --------------------
$font-family-base: 'Roboto', sans-serif;

$font-size-xlarge: 15px;
$font-size-large:  14px;
$font-size-base:   13px;
$font-size-small:  12px;
$font-size-xsmall: 11px;

$font-size-h1: 36px;
$font-size-h2: 30px;
$font-size-h3: 24px;
$font-size-h4: 18px;
$font-size-h5: $font-size-base;
$font-size-h6: $font-size-small;

$line-height-base:     1.4;
$letter-spacing-base:  0.3px;
$headings-font-family: inherit;
$headings-font-weight: 400;
$headings-line-height: 1.1;
$headings-color:       #233152;

// background colors
// --------------------
$bg-color-base:  #fff;

// Fonts color
// --------------------
$font-color-base: #77818d;
$font-color-link: #5a95e5;

// Media Query Ranges
// --------------------
$small-screen-up:  601px !default;
$medium-screen-up: 993px !default;
$large-screen-up:  1201px !default;
$small-screen:     600px !default;
$medium-screen:    992px !default;
$large-screen:     1200px !default;

$medium-and-up:   "only screen and (min-width : #{$small-screen-up})" !default;
$large-and-up:    "only screen and (min-width : #{$medium-screen-up})" !default;
$small-and-down:  "only screen and (max-width : #{$small-screen})" !default;
$medium-and-down: "only screen and (max-width : #{$medium-screen})" !default;
$medium-only:     "only screen and (min-width : #{$small-screen-up}) and (max-width : #{$medium-screen})" !default;

// Colors settings
// --------------------
$color-success: #4dc657;
$color-danger:  #f5311d;
$color-primary: #5a95e5;
$color-purple:  #ba68c8;
$color-orange:  #ff7043;

// Sidebar settings
// --------------------
$sidebar-tablet-width:  75px;
$sidebar-desktop-width: 210px;

// Main content setting
// --------------------
$main-content-width: 800px;

// Posts setting
// --------------------
$thumb-image-width: 120px;

// Pagination settings
// --------------------
$pagination-width: 380px;

// Social share widget settings
// --------------------
$socialshare-width: 380px;

// Markdown settings
// --------------------
$mk-font-size-h1: 27px;
$mk-font-size-h2: 24px;
$mk-font-size-h3: 21px;
$mk-font-size-h4: 18px;
$mk-font-size-h5: 15px;
$mk-font-size-h6: 12px;