// Import of fonts
// --------------------
@import 'fonts';

// Typography settings
// --------------------
$font-family-base:     'Open Sans', sans-serif;
$font-size-base:       1.5rem;
$line-height-base:     1.8em;
$letter-spacing-base:  0.01rem;
$font-feature-base:    'dlig' 1, 'liga' 1, 'lnum' 1, 'kern' 1;

$font-size-h1: 2em;
$font-size-h2: 1.8em;
$font-size-h3: 1.6em;
$font-size-h4: 1.3em;
$font-size-h5: 1.2em;
$font-size-h6: 1.1em;

$font-size-xlarge: 1.2em;
$font-size-large:  1.1em;
$font-size-medium: 0.9em;
$font-size-small:  0.8em;
$font-size-xsmall: 0.5em;


$headings-font-family: 'Open Sans', sans-serif;
$headings-font-weight: 700;
$headings-line-height: 1.23em;
$headings-color:       #4a4a4a;

// Markdown
$mk-font-size-h1: 27px;
$mk-font-size-h2: 24px;
$mk-font-size-h3: 21px;
$mk-font-size-h4: 18px;
$mk-font-size-h5: 15px;
$mk-font-size-h6: 12px;

// Colors settings
// --------------------
$bg-color-base:  #fff;

$color-success: #4dc657;
$color-danger:  #f5311d;
$color-primary: #64b5f6;
$color-purple:  #cf6ae0;
$color-orange:  #e75c2f;

$font-color-base:  #5d686f;
$font-color-light: #9eabb3;
$font-color-link:  #64b5f6;
$font-color-input: #5d686f;

// Highlight
$highlight-background:   #28292d;
$highlight-current-line: #393939;
$highlight-selection:    #515151;
$highlight-foreground:   #eeeeee;
$highlight-comment:      #999999;
$highlight-red:          #f2777a;
$highlight-orange:       #f99157;
$highlight-yellow:       #ffcc66;
$highlight-green:        #99cc99;
$highlight-aqua:         #66cccc;
$highlight-blue:         #6699cc;
$highlight-purple:       #cc99cc;

// Header settings
// --------------------
$header-bg-color:      rgba(26, 45, 64, 1);
$header-font-color:    #bdc3d3;

// Sidebar settings
// --------------------
$sidebar-bg-color:      rgba(17, 26, 35, 0.7);
$sidebar-tablet-width:  75px;
$sidebar-desktop-width: 210px;
$sidebar-font-color:    #bdc3d3;

// Main content setting
// --------------------
$main-content-width: 800px;

// Posts setting
// --------------------
$thumb-image-width: 140px;

// Media Query Ranges
// --------------------
$small-screen-up:  601px !default;
$medium-screen-up: 993px !default;
$large-screen-up:  1201px !default;
$small-screen:     600px !default;
$medium-screen:    992px !default;
$large-screen:     1200px !default;

$small-and-down:  "only screen and (max-width : #{$small-screen})" !default;
$medium-and-down: "only screen and (max-width : #{$medium-screen})" !default;
$medium-only:     "only screen and (min-width : #{$small-screen-up}) and (max-width : #{$medium-screen})" !default;
$medium-and-up:   "only screen and (min-width : #{$small-screen-up})" !default;
$large-and-up:    "only screen and (min-width : #{$medium-screen-up})" !default;



